@import "tailwindcss";

@import "../src/styles/globals.css";

body {
  margin: 0;
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  background-color: white;
  color: #333;
}

.sb-show-main {
  background-color: white;
}

.docs-story {
  background-color: white;
}